@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
  font-family: "Sligoil";
  src: url("../fonts/sligoil/fonts/web/Sligoil-Micro.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Space-Mono";
  src: url("../fonts/space-mono/SpaceMono-BoldItalic.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Space-Mono";
  src: url("../fonts/space-mono/SpaceMono-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Space-Mono";
  src: url("../fonts/space-mono/SpaceMono-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Space-Mono";
  src: url("../fonts/space-mono/SpaceMono-Italic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Compagnon";
  src: url("../fonts/compagnon/fonts/webfonts/Compagnon-Roman.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Vercetti";
  src: url("../fonts/vercetti/OpenType/Vercetti-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sligoil-micro-ss04 {
  font-feature-settings: "ss04" on;
}

.gradient-bg::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  transition: 2s;
  background-image: radial-gradient(
    ellipse at center,
    var(--tw-gradient-stops)
  );
  @apply from-teal-200 to-pink-300;
}
.gradient-bg:has(.card:hover)::before {
  filter: grayscale(100%);
}

p {
  padding: 0.4rem 0;
}

a {
  text-decoration: underline;

  :hover {
    text-decoration: none;
  }
}

code {
  @apply bg-white/50 px-1 box-decoration-clone rounded;
}

.card {
  @apply w-full border mb-4 border-white/70 items-start sm:max-w-3xl overflow-clip;

  .whitefilter {
    filter: invert(100%) url(#white-alpha) invert(100%);
  }

  a {
    @apply w-full sm:w-auto;
  }

  .imagecontainer {
    @apply box-border relative w-full bg-teal-800/80 sm:w-auto aspect-video sm:h-40;
  }

  .previewtext {
    @apply pr-2 text-sm text-teal-900 bg-[#fff8] sm:w-full sm:aspect-video sm:overflow-y-clip sm:h-auto h-32;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  }

  p {
    padding: 0 0;
  }

  :hover {
    .whitefilter {
      filter: none;
    }

    .previewtext {
      opacity: 1;
    }
  }
}

.title {
  @apply relative text-3xl isolate w-52 font-title;
  text-decoration-line: none;
  text-decoration-color: transparent;
  text-decoration-thickness: 0px;
}

/* .title::before {
  content: "";
  background-color: #fffe9b;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  filter: blur(3rem);
  inset: -15px;
} */

a {
  text-decoration: none;
  
  
  :hover {
    text-decoration: none;
  }
}


.post blockquote {
  @apply border-l-4 border-slate-700 pl-4 my-4;
}

.post section.backlinks {
  @apply mt-6;
}
.post section h2, .post section ul li {
  @apply text-slate-700;
}

.post a {
  @apply underline;
}

.post a[href^="http"]:not([href*="meri.garden"])::after {
  content: " \2197"; /* Add an up-right arrow */
  display: inline-block;
  margin-left: 0px;
}

.post pre {
  @apply bg-slate-800 p-4 rounded-md leading-tight pt-0;
}

.post pre code {
  @apply text-sm leading-none;
}

.post ul li {
  @apply py-0 my-0;
}

.post ul li p {
  @apply py-0 my-0;
}

.post li ul {
  @apply py-0 my-0;
}

.post > main > :not(p:has(img)) {
  @apply mx-2 sm:mx-0;
}

.title-flower {
  @apply relative;
}

.title-flower::before {
  content: "";
  position: absolute;
  top: -4.5rem;
  left: -1rem;
  right: 0;
  bottom: 0rem;
  background-image: url("https://static.meri.garden/flower.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  transform: rotate(-20deg);
}

.emojilist li {
  display: list-item;
  padding-left: 0.4rem;
  @apply text-sm my-1;
}

.quote {
  position: relative;
}

.quote::before {
  content: "";
  background-color: #fff;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  filter: blur(2rem);
  inset: 20px 0;
}

code {
  @supports (color: color-mix(in lab, red, red)) {
    background-color: transparent;
  }
}

p:has(img) {
  @apply mx-0 px-0;
}

p:has(img) + blockquote {
  @apply mt-0;
}

p > img:only-child {
  @apply -mb-3;
}

blockquote {
  @apply not-italic;
}

& :where(blockquote p:last-of-type):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
  content: none;
}

& :where(blockquote p:first-of-type):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
  content: none;
}

blockquote.callout {
  @apply bg-purple-300/70 rounded-lg p-4 not-italic border-none;

  .callout-title {
    @apply flex capitalize font-title gap-2;

    .callout-title-inner {
      @apply text-lg
    }
  }
}

mark {
  @apply bg-[#ffd85d] text-black;
}

.purple-heading {
  @apply inline px-1 py-[2px] leading-8 bg-purple-300 rounded shadow-xl font-title box-decoration-clone
}

.link-list a {
  @apply p-1 border border-purple-300 rounded-lg box-decoration-clone bg-white;
}

.link-list a:hover {
  @apply bg-purple-300/50;
}