---
import Main from "../layouts/Main.astro";
---

<Main title="Meri Leeworthy" description="I'm a programmer, designer, writer and artist. I try to make tools for community autonomy, creativity, and resistance." image="https://static.meri.garden/mesh-gradient.png">
	<div class="flex flex-col w-screen px-4 pt-16 isolate">
		<section class="flex flex-col w-full max-w-sm gap-4 pl-20 mx-auto">
			<aside class="text-xl">
				I'm a programmer, designer, writer and artist.<br /><br />
				I try to make tools for community autonomy, creativity, and resistance.
			</aside>
		</section>
		<section class="w-full max-w-lg mx-auto mt-32">
			<p>
				This site is structured like a 'digital garden' - an explorable collection of notes, some fleshed out, some not. Here are some recent highlights/entrypoints:
			</p>
			<ul class="flex flex-col gap-3 mt-6 font-title list-['↠'] pl-2">
				<li class="link-list">
					<a href="/a-deep-dive-explainer-on-beekem-protocol">
						A deep-dive explainer on Ink and Switch's BeeKEM protocol
					</a>
				</li>
				<li class="link-list">
					<a href="/leaf-render-update-0">
						Leaf Render Update 0
					</a>
				</li>
				<li class="link-list">
					<a href="/what-happened-to-the-earlier-version-of-organ">
						What happened to the earlier version of Organ?
					</a>
				</li>
				<li class="link-list">
					<a href="/analysis-of-proposed-protocols-for-metadata-protection-and-decentralisation-in-secure-group-messaging">
						Analysis of proposed protocols for metadata protection and decentralisation in Secure Group Messaging
					</a>
				</li>
				<li class="link-list">
					<a href="/public-research-notes">
						Public research notes
					</a>
				</li>
			</ul>
		</section>
	</div>
</Main>
