---
import Main from "../layouts/Main.astro";
---

<Main>
	<div class="flex flex-col w-screen px-4 pt-16 isolate">
		<section class="flex flex-col w-full max-w-sm gap-4 pl-20 mx-auto">
			<aside class="text-xl">
				I'm a software engineer, designer, writer and artist.<br /><br />My goal is to
				make data sovereignty, privacy and community autonomy accessible to
				everyone.
			</aside>
		</section>
	<!-- this is where the posts go-->
	<section class="w-full max-w-lg mx-auto">
		<h2 class="mt-32 mb-4 text-lg text-teal-900 sm:-ml-4 font-title">
			things I can do...
		</h2>
		<article>
			<h3 class="inline px-1 py-[2px] leading-8 bg-purple-300 rounded shadow-xl font-title box-decoration-clone">
				Freelance
			</h3>
			<ul
				class="mt-2 mb-4 ml-6 opacity-70 list-['🌸'] emojilist">
				<li>info sites for small businesses and organisations</li>
				<li>online stores</li>
				<li>creative portfolios</li>
				<li>
					design and build beautiful online experiences with custom HTML and
					CSS
				</li>
				<li>
					experience with Wordpress, Shopify, Cargo, Squarespace and more
				</li>
			</ul>
			<div class="quote">
				<blockquote class="mt-12 text-sm italic opacity-80">
					<p>
						Meri has been a dream to work with! Clear, prompt and honest
						communication, with good advice when dealing with our business
						that knows nothing about websites. We asked Meri to jump in on a
						half finished project toward the end of the year no less and she
						took it all onboard easily and quickly. Thanks so much for your
						help Meri, highly recommend!
					</p>
				</blockquote>
				<figcaption class="mb-12 text-sm">
					- Carmen Maram, Sound Osteopathy
				</figcaption>
			</div>
		</article>
		<article>
			<h3 class="inline px-1 py-[2px] leading-8 bg-purple-300 rounded shadow-xl font-title box-decoration-clone">
				Hire me to work on your team
			</h3>
			<ul
				class="mt-2 mb-4 ml-6 opacity-70 list-['🌸'] emojilist">
				<li>experience with Typescript, React, Next.js and React Native</li>
				<li>accessibility, responsive design, performance optimisation</li>
				<li>comfortable with tools like Git, Docker, Linux, Ansible</li>
				<li>
					interested in distributed systems, open protocols, Rust, WASM
				</li>
			</ul>
		</article>
		check out my{" "}
		<a
			href="/work"
			class="px-1 no-underline bg-white border-2 border-transparent rounded-full hover:border-pink-300">
			portfolio →
	</a>{" "}
		and{" "}
		<a
			class="px-1 no-underline bg-white border-2 border-transparent rounded-full hover:border-pink-300"
			href="https://github.com/meri-leeworthy">
			GitHub →
		</a>
	</section>
	</div>
</Main>
