---

---
<header class="flex justify-between w-full max-w-2xl px-4 mx-auto mt-8 sm:pt-16">
  <a href="/" class="no-underline">
    <h1 class="title">Meri Leeworthy</h1>
  </a>
  <nav>
    <ul class="mt-8 text-right font-title">
      <li>
        <a href="/work" class="no-underline">
          Work
        </a>
      </li>
      <li>
        <a href="/Meri_Leeworthy_Resume.pdf" class="no-underline">
          Resume
        </a>
      </li>
      <li>
        <a
          href="https://github.com/meri-leeworthy"
          class="no-underline">
          Github
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/meri-leeworthy-4a6b7a133/"
          class="no-underline">
          LinkedIn
        </a>
      </li>
    </ul>
  </nav>
</header>
