---
import "../styles/global.css";
---
<header class="flex justify-between w-full max-w-2xl px-4 mx-auto mt-8 mb-16 sm:pt-16">

  <div class="title-flower">
  <a href="/" class="no-underline">
    <h1 class="title" style="text-decoration: none;">&nbsp;Meri Leeworthy</h1>
  </a>
</div>
  <nav>
    <ul class="mt-8 text-right font-title">
      <li>
        <a href="/work" class="no-underline">
          Work
        </a>
      </li>
      <li>
        <a href="https://static.meri.garden/Meri_Leeworthy_Resume.pdf" class="no-underline">
          Resume
        </a>
      </li>
      <li>
        <a
          href="https://github.com/meri-leeworthy"
          class="no-underline">
          Github
        </a>
      </li>
      <li>
        <a href="https://bsky.app/profile/meri.bsky.social" class="no-underline">
          Bluesky
        </a>
      </li>
    </ul>
  </nav>
</header>
