---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Meri Leeworthy</title>
	</head>
	<head />
	<body class="relative flex flex-col items-center w-screen">
		<Header />
    <slot />
    <Footer />
		<svg class="w-0 h-0">
			<filter id="white-alpha">
				<feColorMatrix
					type="matrix"
					values="0 1 0 0 0
					0 1 0 0 0
					0 1 0 0 0
					-1 -1 -1 1 0 "
				/>
			</filter>
		</svg>
	</body>
</html>
